html, body {
  margin: 0;
  background:var(--midLight);
  font-family: var(--text);
}


.border {
  height: 88vh;
  width: calc(99vw - 24px); 
  border-radius: 8px;
  margin: 12px;
  padding-left:1%;
  background:var(--light);
  border:1px solid var(--grey);
  box-shadow:0 10px 30px rgba(0,0,0,0.06);
  position: relative;
  z-index: 6;
}

.border-msg-bg{
  height: 75px;
  width: 200px;
  background: var(--light);
  position: absolute;  
  border-radius:8px;
  top:0;
  right: 0;            
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  z-index:2000;
}

.border-msg {
  height: 50px;
  width: 200px;
  background: var(--dark);
  position: absolute;  
  top: 20px;
  right: 0;            
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  z-index:10;
}
