<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Session History - Smart Attendance System</title>
    <link rel="icon" type="image/png"  href="/favicon.png">
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/properties.css">
    <link rel="stylesheet" href="/css/snackbar.css">
    <link rel="stylesheet" href="/css/admin-all-attendance.css">
</head>

<body>

    <div class="container">

        <!-- Sidebar -->
        <aside class="sidebar">

            <div class="profile" id="profile">
                <h3 id="adminname">&nbsp;</h3>
                <p id="admincollegeName">&nbsp;</p>
            </div>
            <hr class="line">
            <nav>
                <ul>
                    <li  id="dashboard">Dashboard</li>
                    <li id="addUser">Add User</li>
                    <li id="searchUser">Search User</li>
                    <li id="userUpdate">Update User</li>
                    <li id="allStudent" >All Students</li>
                    <li id="allTeacher">All Teachers</li>
                    <li id="imageChangeReq">Image Requests</li>
                    <li id="changeAcademic">Change Academic</li>
                    <li id="academic" >Academic</li>
                    <li id="allAttendance" class="active">Session History</li>
                    <li id="recycleBin">Recycle Bin</li>
                </ul>
            </nav>

            <button class="logout" id="logout">Logout</button>
        </aside>

        <!-- Main Content -->
        <main class="main">
 <div class="page-header">

                <div class="header-left">
                    <h2>All Attendance</h2>
                    <p class="subtitle">Manage and review all session</p>
                </div>
                <div class="header-right">
                    <div class="search-box">
                        <svg viewBox="0 0 24 24" class="search-icon">
                            <path d="M21 21l-4.35-4.35m1.6-5.4a7 7 0 11-14 0 7 7 0 0114 0z" stroke="currentColor"
                                stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <input type="text" id="searchInput" placeholder="Search Attendance">
                    </div>
                    <button class="refresh-btn" id="refreshBtn">
                        ↻ Refresh
                    </button>
                </div>
            </div>

            <div class="contentbody">

            </div>



        </main>

    </div>

    <div id="confirm-root"></div>
<div id="loader-root"></div>
    
    <script src="/js/basic.js"></script>
     <script src="/js/snackbar.js"></script>
    <script src="/js/admin-all-attendance.js"></script>
</body>

</html>

