<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Recycle Bin - Smart Attendance System</title>
    <link rel="icon" type="image/png"  href="/favicon.png">
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/properties.css">
    <link rel="stylesheet" href="/css/snackbar.css">
    <link rel="stylesheet" href="/css/recycle-bin.css">
</head>

<body>

    <div class="container">

        <!-- Sidebar -->
        <aside class="sidebar">

            <div class="profile" id="profile">
                <h3 id="adminname">&nbsp;</h3>
                <p id="admincollegeName">&nbsp;</p>
            </div>
            <hr class="line">
            <nav>
                <ul>
                    <li id="dashboard">Dashboard</li>
                    <li id="addUser">Add User</li>
                    <li id="searchUser">Search User</li>
                    <li id="userUpdate">Update User</li>
                    <li id="allStudent">All Students</li>
                    <li id="allTeacher">All Teachers</li>
                    <li id="imageChangeReq">Change Images</li>
                    <li id="changeAcademic">Change Academic</li>
                    <li id="academic">Academic</li>
                    <li id="allAttendance">Session History</li>
                    <li id="recycleBin" class="active">Recycle Bin</li>
                </ul>
            </nav>

            <button class="logout" id="logout">Logout</button>
        </aside>

        <!-- Main Content -->
        <main class="main">
            <div class="page-header">

                <div class="header-left">
                    <h2>Recycle Bin</h2>
                    <p class="subtitle">Delete or Recycle Student Teacher & Attendance</p>
                </div>
                <div class="header-right">
                    <div class="search-box">
                        <svg viewBox="0 0 24 24" class="search-icon">
                            <path d="M21 21l-4.35-4.35m1.6-5.4a7 7 0 11-14 0 7 7 0 0114 0z" stroke="currentColor"
                                stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <input type="text" id="searchInput" placeholder="Search by Enrollment No...">
                    </div>
                    <button id="studentBtn" class="active">Student</button>
                    <button id="teacherBtn">Teacher</button>
                    <button id="attendanceBtn">Attendance</button>
                </div>


            </div>

            <!-- Cards Container -->
            <div class="cards-container" id="cardsContainer">

            </div>





        </main>

    </div>
<div id="loader-root"></div>
<div id="confirm-root"></div>
    <script src="/js/basic.js"></script>
    <script src="/js/snackbar.js"></script>
    <script src="/js/recycle-bin.js"></script>
</body>

</html>