<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/pop-up-box.css">
    <link rel="stylesheet" href="/css/body-border.css">
    <link rel="stylesheet" href="/css/properties.css">
    <link rel="stylesheet" href="/css/snackbar.css">
    <link rel="stylesheet" href="/css/all-student.css">
    <link rel="stylesheet" href="/css/student-card-main.css">

</head>

<body>
    <div class="header">
        <div class="header-right">
            <img src="/assets/images/website-logo.png">
            <h1>Smart Attendance</h1>
        </div>
        <div>
            <button class="lightBtn" id="gotoDashboard">Dashboard</button>
        </div>
    </div>

    <div class="border">
        <div class="academic-dit-div">
             <div class="field">
                    <div class="custom-dropdown">
                        <input type="text" id="yearInput" required readonly />
                        <label for="yearInput">Select year</label>
                        <ul id="yearOption" class="options"></ul>
                    </div>
                </div>
                <div class="field">
                    <div class="custom-dropdown">
                        <input type="text" id="branchInput" required readonly />
                        <label for="branchInput">Select branch</label>
                        <ul id="branchOption" class="options"></ul>
                    </div>
                </div>
                <div class="field">
                    <div class="custom-dropdown">
                        <input type="text" id="semInput" required readonly />
                        <label for="semInput">Select semester</label>
                        <ul id="semOption" class="options"></ul>
                    </div>
                </div>
                <div class="field">
                    <div class="custom-dropdown">
                        <input type="text" id="classInput" required readonly />
                        <label for="classInput">Select class</label>
                        <ul id="classOption" class="options"></ul>
                    </div>
                </div>
                <div class="field">
                    <div class="custom-dropdown">
                        <input type="text" id="batchInput" required readonly />
                        <label for="batchInput">Select batch</label>
                        <ul id="batchOption" class="options"></ul>
                    </div>
                </div>
        </div>
        <div class="border-msg-bg">
            <div class="border-msg" id="borderMsg">
                All Student
            </div>
        </div>

        
        
        <div class="contentbody">
       
       
        </div>
    </div>

    <div id="app"
        th:data-academic-id="${academicId}">
    </div>

    <div id="globalModal" class="modal-overlay hidden">
        <div class="modal-box">
            <h3 id="modalTitle">Title</h3>
            <p id="modalMessage">Message</p>

            <div class="modal-actions">
                <button id="modalCancel" class="btn cancel">Cancel</button>
                <button id="modalConfirm" class="btn danger">Confirm</button>
            </div>
        </div>
    </div>

    
    <script src="/js/snackbar.js"></script>
    <script src="/js/pop-up-box.js"></script>
    <script src="/js/all-student.js"></script>
</body>

</html>