<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/properties.css">
    <link rel="stylesheet" href="/css/snackbar.css">

</head>

<body>

    <div class="container">

        <!-- Sidebar -->
        <aside class="sidebar">

            <div class="profile" id="profile">
                <h3 id="teachername">&nbsp;</h3>
                <p id="teachercollegeName">&nbsp;</p>
            </div>
            <hr class="line">
            <nav>
                <ul>
                    <li class="active" id="dashboard">Dashboard</li>
                    <li id="newsession">Create New Session</li>
                    <li id="allAttendance">Session History</li>
                    <li id="recycleBin">Recycle Bin</li>
                </ul>
            </nav>

            <button class="logout" id="logout">Logout</button>
        </aside>

        <!-- Main Content -->
        <main class="main">




        </main>

    </div>
<div id="loader-root"></div>
    <div id="confirm-root"></div>
    <script src="/js/teacher-basic.js"></script>
    <script src="/js/snackbar.js"></script>
</body>

</html>